<a routerLink="/projects" class="return-link mt-2 ms-2"><i class="bi bi-arrow-left"></i> Retour aux projets</a>

<div class="container my-sm-4">
  <div class="row">

    <div class="col-12 col-md-6">
      <img class="mainImg show" [src]="project?.dir + project?.mainImg" [alt]="project?.title">
    </div>

    <div class="col-12 col-md-6 d-flex flex-column show">
      <!-- First row: title -->
      <div class="row mt-4">
        <h1 class="title">{{ project?.title }}</h1>
        <p class="title">{{project?.date}}</p>
      </div>

      <div class="row mt-auto">

        <div class="col-12 col-md-6">
          <span class="title">à propos du projet</span>
          <p class="text">{{ project?.description }}</p>
          <!--ADVANTAGE-->
          <!-- Replace the speciality section with this -->
          @if(project?.speciality.length){
            <span class="title">Spécialités utilisées</span>
          }
          <div class="speciality-tags mb-3">
            @for (spec of project?.speciality; track $index) {
              <span class="spec-tag">{{ spec }}</span>
            }
          </div>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column align-items-center slide-up-col">            
            @for (secImg of project?.secondaryImg; track $index) {
              <img height="100%" width="100%" [src]="project?.dir + secImg" alt="" class="mb-2">
            }
        </div>
        
      </div>

    </div>
  </div>
</div>