<div class="container mt-4 mb-4">
  <div class="row">

    <div class="col-12 col-md-6">
      <img class="show" height="600px" width="100%" [src]="project?.dir + project?.mainImg" [alt]="project?.title">
    </div>

    <div class="col-12 col-md-6 d-flex flex-column show">
      <!-- First row: title -->
      <div class="row mt-4">
        <h1 class="title">{{ project?.title }}</h1>
        <p class="title">{{project.date}}</p>
      </div>

      <div class="row mt-auto">

        <div class="col-12 col-md-6">
          <span class="title">à propos du projet</span>
          <p class="text">{{ project?.description }}</p>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column align-items-center slide-up-col">            
            @for (secImg of project?.secondaryImg; track $index) {
              <img height="100%" width="100%" [src]="project?.dir + secImg" alt="" class="mb-2">
            }
        </div>
        
      </div>

    </div>
  </div>
</div>