<!-- HERO -->
<div class="overflow-hidden">
	<div class="container-fluid col-xxl-8">
    
		<div class="row flex-lg-nowrap align-items-center g-5">

			<div class="col-lg-6 col-xl-5 text-center text-lg-start pt-lg-5 mt-xl-4 order-2 order-sm-1">

				<div class="lc-block mb-4">
					<div editable="rich">
						<h1 class="fw-bold display-3">Dallage industriel <span class="shine">leader</span> en Tunisie</h1>
					</div>
				</div>

				<div class="lc-block mb-5">
					<div editable="rich">
						<p class="text"> Avec ses 22 ans d'expériences et ses performances inégalées, TECHNO-BTS est le LEADER en dallage industirel en Tunisie</p>
					</div>
				</div>

				<div class="lc-block mb-6"><a class="btn btn-danger px-4 me-md-2 btn-lg" routerLink="/contact" role="button">
          Contactez-nous</a>
				</div>

				<div class="lc-block mt-2">
					<div editable="rich">
						<p class="fw-bold">Collaboration commerciale fondée sur la confiance :</p>
					</div>
				</div>
				<div class="row">
					<div class="lc-block col-2"><img class="img-fluid wp-image-975" src="assets/references/leoni.jpg" width="70px" height="300"></div>
					<div class="lc-block col-2"><img class="img-fluid wp-image-977" src="assets/references/mazda.jpg" width="70px" height="300"></div>
					<div class="lc-block col-2"><img class="img-fluid wp-image-974" src="assets/references/tav.png" width="70px" height="300"></div>
					<div class="lc-block col-2"><img class="img-fluid wp-image-967" src="assets/references/renault.jpg" width="70px" height="300"></div>
					<div class="lc-block col-2"><img class="img-fluid wp-image-967" src="assets/references/decathlon.png" width="70px" height="300"></div>
					<div class="lc-block col-2"><img class="img-fluid wp-image-967" src="assets/references/astral.png" width="70px" height="300"></div>
				</div>

			</div>

      <div class="col-12 col-lg-6 p-0 w-100 order-1 order-md-2">
				<img src="assets/hero.jpg" class="d-block img-fluid w-100 hero-img" alt="Photo by Milad Fakurian" loading="lazy" srcset="" >
			</div>

		</div>
	</div>
</div>

<!--PROJECTS-->
<div class="row p-2 my-5 position-relative">

  <div class="row text-center h-25">
      <h2 class="title text-uppercase">
        Nos Projets
      </h2>
  
      <p class="text">
        "Découvrez nos réalisations — des pipelines de données aux tableaux de bord 
        intelligents, chaque projet reflète notre engagement à transformer des données 
        complexes en insights clairs et exploitables."
      </p>
    </div>

  @for (project of projects; track $index) {
    <div class="col-12 col-md-3 p-0">

      <div class="card">
        <div class="position-relative">
          <img [src]="project.dir + project.mainImg" class="card-img" style="height: 500px; object-fit: cover;" [alt]="project.title">
          
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column align-items-center justify-content-center text-white px-3 title">
            <h5 class="card-title text-lg-nowrap project-title">{{ project.title }}</h5>
            <p class="card-text text-center project-subtitle">{{ project.description }}</p>
            <span class="project-subtitle">{{ project.date }}</span>
          </div>

        </div>
      </div>

    </div>
  }

  <div class="position-absolute p-0 bottom-0 w-100">

        <div class="text-center mt-4">
          <a  routerLink="/projects">
            <button class="btn w-100 clip-wavy savoir-btn link text-white">
                En savoir plus 
                <span class="badge text-bg-light">{{ count }}</span>
            </button>
          </a>
        </div>
        
  </div>
  
</div>

<!--STATS-->
<div class="container my-5" style="min-height: 50vh;" #stat>

  <!--STATS-header-->
  <div class="row text-center h-25">
    <h2 class="title text-uppercase">
      Expertise &amp; excellence
    </h2>
    <h5 class="title">Notre Savoir-Faire en Données</h5>
    <p class="text">
      "Chaque projet réalisé témoigne de notre savoir-faire, de notre rigueur
      et de notre engagement envers la qualité."
    </p>
  </div>

  <div class="row h-75 align-items-stretch">
    <!--STATS-COL-->
    <div class="col-12 col-lg-4 p-2" style="min-height: 350px;">
      <div class="card h-100">
        <div class="row g-0 h-100">
          <div class="col-12 col-md-6 bg-danger d-flex justify-content-center align-items-center shiny-box">
            <i class="bi bi-check-circle" style="font-size: 3rem; color: aliceblue;"></i>
          </div>
          <div class="col-12 col-md-6 text-center d-flex flex-column justify-content-center">
              <h1 class="title text-danger">{{perCount}}%</h1>
              <h6 class="title">Projets livrés dans les délais.</h6>
          </div>
        </div>
      </div>
    </div>
    <!--STATS-COL-->
    <div class="col-12 col-lg-4 p-2" style="min-height: 350px;">
      <div class="card h-100">
        <div class="row g-0 h-100">
          <div class="col-12 col-md-6 bg-warning d-flex justify-content-center align-items-center shiny-box">
            <i class="bi bi-clock" style="font-size: 3rem; color: aliceblue;"></i>
          </div>
          <div class="col-12 col-md-6 text-center d-flex flex-column justify-content-center">
              <h1 class="title text-warning">{{durationCount}}+</h1>
              <h6 class="title">Heures de travail sans accident</h6>
          </div>
        </div>
      </div>
    </div>
    <!--STATS-COL-->
    <div class="col-12 col-lg-4 p-2" style="min-height: 350px;">
      <div class="card h-100">
        <div class="row g-0 h-100">
          <div class="col-12 col-md-6 bg-dark d-flex justify-content-center align-items-center shiny-box">
            <i class="bi bi-bar-chart" style="font-size: 3rem; color: aliceblue;"></i>
          </div>
          <div class="col-12 col-md-6 text-center d-flex flex-column justify-content-center">
              <h1 class="title">{{pjtCount}}+</h1>
              <h6 class="title">Projets réalisés avec succès</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-faq></app-faq>